__pycache__/
*.py[cod]
*.pyo
*.pyd

*.log
*.tmp

venv/
.env/
.env*/

event_viewer_demo/static/cropped_images.zip
event_viewer_demo/static/cropped_images/
event_viewer_demo/static/images/

*.local
*.env.local

